/* define variables  */
:root {
  --grey: #635F5D;
}

/* axes */
.axis {
	stroke-width: 2px;
}

.axis line {
  stroke: var(--grey);
}
.axis path{
  stroke: var(--grey);
}
.axis text{
  fill: black;
}

.axis-label {
  font-size: 1em;
  dy: 1em;
  text-anchor: middle;
  fill: black;
}


/* dropdown menu */

.menu-container {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropdown-label{
  margin-left: 80px;
  margin-right: 20px;
}
.Dropdown-root {
  font-size: 1.5em;
  width: 200px;
  display: inline-block;
}
.dropdown-label {
  font-size: 2em;
  fill: var(--grey);
  color: var(--grey);
}
.Dropdown-menu {
  max-height: 300px;
}


/* radio button */
.control {
    font-family: Times New Roman;
    display: block;
    position: relative;
    padding-left: 120px;
    margin-bottom: 10px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 16px;
  	fill: var(--grey);
  	color: var(--grey);
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 80px;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 1px solid #000000;
    border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

/* title */
p {
  padding-left: 80px;
}


/* table */
body {
 font-family: news-gothic-std, sans-serif;
 font-style: normal;
 font-weight: 400;
}

header{
 overflow: hidden;
 font-family: news-gothic-std, sans-serif;
 font-style: normal;
 font-weight: 600;
}
#top-header{
 text-align: left;
 height: 163px;
}
#logo{
 float: left;
 padding: none;
 margin: none;
 height: 163px;
 width: 30%;
}
#logo img{
 width: 60%;
 float: left;
 padding: 0px 0px;
}
rect {
 fill:#328aa2;
 stroke-width:1.5;
 stroke:#328aa2;
}
table, th, td {
 margin-left: 80px;
 border-collapse: collapse;
 width: 300px;
 border-bottom: 1px solid #ddd;
 padding: 10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
thead{
 font-weight: 800;
 background-color: #328aa2;
 color: white;
}
tr:hover {
  background-color: #b0c8cf;
}
