label {
  font-size: 1.5em;
  fill: #635F5D;
}
select {
  font-size: 1em;
}
select option {
  font-size: 1rem;
}

rect {
 fill:#67c0e0;
 stroke-width:1.5;
 stroke:#67c0e0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
